.content-password {
	width: 100%;
	max-width: 20rem;
} 

input[type="email"] {
	border: 1px solid #ECECEC;
	background: #ECECEC;
}

input[type="email"]:focus {
	border: 1px solid #505ACB;
	background: transparent;
}