.table-name {
    padding-right: 18rem!important;
}

.table-gender {
    padding-right: 9rem!important;
}

.table-dokter {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.daftar-dokter {
    background: blue !important;
}