.table-nama-obat {
    margin-left: 4rem!important;
    padding-right: 4rem!important;
}

.table-stok {
    /* padding-left: 6.5rem!important; */
}

.table-obat {
    width: 320px;
    margin-left: 2.5rem;
}